parameters:
	checkGenericClassInNonGenericObjectType: false
	checkMissingIterableValueType: false
	ignoreErrors:
		- '#function set_error_handler expects#'
#		- '#function call_user_func expects#'
		- '#function call_user_func_array expects#'
	autoload_directories:
		- %rootDir%/../../../src
		- %rootDir%/../../../tests
